body{
    background-color: whitesmoke;
}

.container {
    width: 80%;
    margin: 20px auto;
    max-width: 600px;
    background: blanchedalmond;
    border: 1px solid goldenrod;
    padding: 20px;
}

header h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 4px;
}

nav a:hover {
    background-color: grey;
    color: #fff;
}

main h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

main input[type="text"], main button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: green;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}

section h3 {
    font-size: 18px;
    margin-top: 15px;
}

.text-image-row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

.text-image-row div:first-child {
    flex: 1;
}

.steps{
    border: 5px solid #1727cc;
    width: 90%;
    
}

.aboutImg {
    width: 200px;
    height: 200px;
}

